$headerFontColor: #ffffff;

.App {
  max-width: 1600px;
  margin: auto;
}

:root {
  background-color: #e2e2e2e2;
}
button {
  background-color: #febd69;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 6px;
}

a {
  text-decoration: none;
}

a:hover {
  border: 1px solid #ffffff;
}

header {
  color: $headerFontColor;
  width: 100%;
  max-width: 1600px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__1 {
  background-color: #131921;
  display: flex;
  padding: 4px 6px;
  align-self: center;

  div {
    padding: 8px;
  }
}

.header__logo {
  width: 8%;
  padding: 16px;
  display: flex;
  align-self: center;
}

.header__location {
  display: flex;
  flex-direction: column;
  color: #ccc4bc;
  font-size: 14px;
  align-self: center;
  a {
    text-decoration: none;
    color: $headerFontColor;
    font-weight: bold;
    display: flex;
  }
}

.header__1__searchBar {
  display: flex;
  align-self: center;
  flex: 1;

  input {
    display: flex;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 0 8px;
  }

  input:focus {
    outline: none;
  }
  select {
    border: none;
    border-right: 1px solid black;
    border-radius: 5px 0 0 5px;
    background-color: #f3f3f3;
    padding: 0 8px;
  }
  button {
    border-radius: 0 5px 5px 0;
    display: flex;
    padding: 6px 10px;
  }
}

.header__1__searchBar > input:focus .header__1__searchBar {
  outline: 1px solid #febd69;
}

.header__1__language {
  display: flex;
  align-items: center;
  select {
    border: none;
    color: #febd69;
    font-weight: bold;
    font-size: 16px;
    background-color: #00000000;
  }
}

.header__1__options {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
  color: $headerFontColor;
  font-size: 12;
  padding: 6px 10px;
}

.account__options {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #ffffff;
  border-radius: 2px;
  color: black;
  width: 25%;
  border: 1px solid black;
  z-index: 1;

  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    button {
      padding: 6px;
      font-size: 14px;
      border: 1px solid black;
      width: 75%;
      margin: auto;
      border-radius: 4px;
    }
    a {
      font-size: 12px;
    }
  }

  div:nth-child(2) {
    display: flex;
    border-top: 1px solid black;
    margin: auto;
    width: 100%;

    ul {
      list-style: none;
      margin: 0 auto;
      text-align: left;
      padding: 0;

      li {
        font-size: 12px;
        a {
          color: black;
          font-size: 12px;
          padding: 4px;
          font-weight: bold;
        }
      }
    }
  }
}

.sign__in:hover + .account__options {
  visibility: visible;
}

.account__options:hover {
  visibility: visible;
}

.header__2 {
  background-color: #232f3e;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 6px;

    li {
      margin: auto;
      a {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        padding: 4px;
      }
    }
  }
}

// SILDER
.slider {
  margin: auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1000;
  margin-bottom: -25%;

  .carousel-prev,
  .carousel-next {
    height: 40%;
  }
}

.catalogues {
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
}

.category {
  padding: 2%;
  width: 20%;
  background-color: white;
  margin: 1% auto;
  z-index: 1;

  .title {
    margin-top: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: fit-content;
  }

  a {
    font-size: 12px;
    color: #5a7385;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
}

// PRODUCT
.product {
  width: 20%;
  .rating {
    display: flex;
  }

  img {
    height: auto;
  }
  button {
    margin: auto;
    width: 50%;
    display: flow-root;
  }
}

// SHOPBYCATEGORY
.shopByCategory {
  margin: auto;
  width: 95%;

  > div {
    display: flex;
    flex-wrap: wrap;
  }
}

// LOGIN
.login {
  margin: auto;
  width: 50%;
  height: 100%;
  padding: 4%;

  .logo {
    width: 25%;
    margin: auto;
  }

  .container {
    width: 50%;
    margin: auto;

    h5 {
      margin-bottom: 0;
    }

    input {
      padding: 1%;
      width: 100%;
      border: 1px solid grey;
      border-radius: 4px;
    }

    input:focus,
    button:focus {
      outline: 1px solid orange;
      border: none;
    }

    form {
      border: 1px solid grey;
      border-radius: 4px;
      padding: 2% 4%;
    }

    button {
      width: 75%;
      margin: auto;
      display: flow-root;
    }

    p {
      font-size: 12px;
      text-align: center;
    }
  }
}

// CHECKOUT
.checkout {
  display: flex;
  width: 100%;
  margin: auto 4%;

  .items {
    width: 70%;
  }
}
// CHECKOUTPRODUCT
.checkoutProduct {
  display: flex;
  padding: 1%;
  background-color: white;
  margin: 1% auto;

  img {
    width: 10%;
    height: auto;
    object-fit: cover;
  }

  > div {
    padding: 2%;

    title {
    }

    .rating {
      display: flex;
    }
  }
}

// SUBTOTAL
.subtotal {
  padding: 1%;

  display: flex;
  flex-direction: column;
}
