.App {
  max-width: 1600px;
  margin: auto;
}

:root {
  background-color: #e2e2e2e2;
}

button {
  background-color: #febd69;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 6px;
}

a {
  text-decoration: none;
}

a:hover {
  border: 1px solid #ffffff;
}

header {
  color: #ffffff;
  width: 100%;
  max-width: 1600px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__1 {
  background-color: #131921;
  display: flex;
  padding: 4px 6px;
  align-self: center;
}
.header__1 div {
  padding: 8px;
}

.header__logo {
  width: 8%;
  padding: 16px;
  display: flex;
  align-self: center;
}

.header__location {
  display: flex;
  flex-direction: column;
  color: #ccc4bc;
  font-size: 14px;
  align-self: center;
}
.header__location a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: flex;
}

.header__1__searchBar {
  display: flex;
  align-self: center;
  flex: 1;
}
.header__1__searchBar input {
  display: flex;
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 0 8px;
}
.header__1__searchBar input:focus {
  outline: none;
}
.header__1__searchBar select {
  border: none;
  border-right: 1px solid black;
  border-radius: 5px 0 0 5px;
  background-color: #f3f3f3;
  padding: 0 8px;
}
.header__1__searchBar button {
  border-radius: 0 5px 5px 0;
  display: flex;
  padding: 6px 10px;
}

.header__1__searchBar > input:focus .header__1__searchBar {
  outline: 1px solid #febd69;
}

.header__1__language {
  display: flex;
  align-items: center;
}
.header__1__language select {
  border: none;
  color: #febd69;
  font-weight: bold;
  font-size: 16px;
  background-color: #00000000;
}

.header__1__options {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
  color: #ffffff;
  font-size: 12;
  padding: 6px 10px;
}

.sign__in div {
  display: flex;
  flex-direction: column;
}

.account__options {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70%;
  right: 10%;
  background-color: #ffffff;
  border-radius: 2px;
  color: black;
  width: 25%;
  border: 1px solid black;
  z-index: 1;
}
.account__options div:nth-child(1) {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.account__options div:nth-child(1) button {
  padding: 6px;
  font-size: 14px;
  border: 1px solid black;
  width: 75%;
  margin: auto;
  border-radius: 4px;
}
.account__options div:nth-child(1) a {
  font-size: 12px;
}
.account__options div:nth-child(2) {
  display: flex;
  border-top: 1px solid black;
  margin: auto;
  width: 100%;
}
.account__options div:nth-child(2) ul {
  list-style: none;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}
.account__options div:nth-child(2) ul li {
  font-size: 12px;
}
.account__options div:nth-child(2) ul li a {
  color: black;
  font-size: 12px;
  padding: 4px;
  font-weight: bold;
}

.sign__in:hover + .account__options {
  visibility: visible;
}

.account__options:hover {
  visibility: visible;
}

.header__2 {
  background-color: #232f3e;
}
.header__2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 6px;
}
.header__2 ul li {
  margin: auto;
}
.header__2 ul li a {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
}

.slider {
  margin: auto;
  mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  z-index: -1000;
  margin-bottom: -25%;
}
.slider .carousel-prev,
.slider .carousel-next {
  height: 40%;
}

.catalogues {
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
}

.category {
  padding: 2%;
  width: 20%;
  background-color: white;
  margin: 1% auto;
  z-index: 1;
}
.category .title {
  margin-top: 0;
}
.category img {
  object-fit: cover;
  width: 100%;
  height: fit-content;
}
.category a {
  font-size: 12px;
  color: #5a7385;
  font-weight: bold;
}
.category a:hover {
  text-decoration: underline;
}

.product {
  width: 20%;
}
.product .rating {
  display: flex;
}
.product img {
  height: auto;
}
.product button {
  margin: auto;
  width: 50%;
  display: flow-root;
}

.shopByCategory {
  margin: auto;
  width: 95%;
}
.shopByCategory > div {
  display: flex;
  flex-wrap: wrap;
}

.login {
  margin: auto;
  width: 50%;
  height: 100%;
  padding: 4%;
}
.login .logo {
  width: 25%;
  margin: auto;
}
.login .container {
  width: 50%;
  margin: auto;
}
.login .container h5 {
  margin-bottom: 0;
}
.login .container input {
  padding: 1%;
  width: 100%;
  border: 1px solid grey;
  border-radius: 4px;
}
.login .container input:focus,
.login .container button:focus {
  outline: 1px solid orange;
  border: none;
}
.login .container form {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2% 4%;
}
.login .container button {
  width: 75%;
  margin: auto;
  display: flow-root;
}
.login .container p {
  font-size: 12px;
  text-align: center;
}

.checkout {
  display: flex;
  width: 100%;
  margin: auto 4%;
}
.checkout .items {
  width: 70%;
}

.checkoutProduct {
  display: flex;
  padding: 1%;
  background-color: white;
  margin: 1% auto;
}
.checkoutProduct img {
  width: 10%;
  height: auto;
  object-fit: cover;
}
.checkoutProduct > div {
  padding: 2%;
}
.checkoutProduct > div .rating {
  display: flex;
}

.subtotal {
  padding: 1%;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=App.css.map */
